@use 'sass:map';
@import '~bootstrap/scss/bootstrap';

$colors: (
  /* The main brand color that defines the website’s identity. Headers, logos, and active navigation links. */
    'primary': #133e87,
  /* Complements the primary color and provides contrast. Buttons, section backgrounds, and icons for variation. */
    'secondary': #2ecc71,
  /* Draws immediate attention to important elements. Call-to-action (CTA) buttons, alerts, or promotional banners. */
    'accent': #e67e22,
  /* The base color, creating a clean backdrop for content. Page background and alternating section colors for layout contrast. */
    'light_background': #f3f3e0,
  /* The color for text and icons. Body text, headings, and other content. */
    'text_light': #fff,
  'text_dark': #2c3e50
);

// HTML TAGS
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: map.get($colors, 'text_dark') !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

// BOOTSTRAP CLASSES
.bg-primary {
  background-color: map.get($colors, 'primary') !important;
}

.bg-primary-gradient {
  @extend .bg-primary;
  background: linear-gradient(
    45deg,
    map.get($colors, 'primary'),
    lighten(map.get($colors, 'primary'), 25%)
  ) !important;
}

.bg-secondary {
  background-color: map.get($colors, 'secondary') !important;
}

.bg-secondary-gradient {
  @extend .bg-secondary;
  background: linear-gradient(
    45deg,
    map.get($colors, 'secondary'),
    lighten(map.get($colors, 'secondary'), 5%)
  ) !important;
}

.bg-info {
  background-color: map.get($colors, 'accent') !important;
}

.bg-info-gradient {
  @extend .bg-info;
  background: linear-gradient(
    45deg,
    map.get($colors, 'accent'),
    lighten(map.get($colors, 'accent'), 5%)
  ) !important;
}

.bg-light {
  background-color: map.get($colors, 'light_background') !important;
}

.bg-light-gradient {
  @extend .bg-light;
  background: linear-gradient(
    45deg,
    map.get($colors, 'light_background'),
    lighten(map.get($colors, 'light_background'), 5%)
  ) !important;
}

.text-light {
  color: map.get($colors, 'text_light') !important;
}

.text-dark {
  color: map.get($colors, 'text_dark') !important;
}
